<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>formulari</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../styles/css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../components/CustomInput.js"></script>

</head>
<body>

  <div id="app" class="container mt-5">
      <h1>Form</h1>

      <custom-input v-model="name" 
                   type="text" 
                   @keydown.enter="search"
                   @GetValidation="GetValidationMethod"
                   placeholder="Your Name"
                   label="Name"> </custom-input>

      <custom-input v-model="mobile" 
                   type="number" 
                   @keydown.enter="search"
                   @GetValidation="GetValidationMethod"
                   placeholder="Your Mobile Number"
                   label="Mobile"> </custom-input>

      <custom-input v-model="postcode"
                   type="number" 
                   @keydown.enter="search"
                   @GetValidation="GetValidationMethod"
                   placeholder="Your Postcode"
                   label="Postcode"> </custom-input>

      <custom-input v-model="email" 
                   type="email" 
                   @keydown.enter="search"
                   @GetValidation="GetValidationMethod"
                   placeholder="Your Email"
                   label="Email"> </custom-input>
     <div class="form-group mt-5">
      <a type="submit" @click="SubmitForm" class="btn btn-lg btn-success">Submit</a>
    </div>   
   </div>


 <template id="custom-input">
  <div class="form-group">
    <label class="form-control-label">{{label}}</label>
      <input v-bind="$attrs" 
             type="text" 
             v-on="$listeners" 
             :value="value" 
             @blur="Validation($event.target.value)"
             :class="{'form-control':true}"
             @input="$emit('update', $event.target.value)"/>
    <!-- <div class="invalid-feedback">{{ errors }}</div>          -->
    </div>
</template>





 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="../scripts/index.js"></script>
</body>
</html>
